* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{

}
/* ------css for header-----*/
.header {
	background-color: var(--color-dark);
	color: var(--color-white);
}

.header .navbar-brand {
	color: var(--color-white);
}

.header .navbar .nav-link {
	color: var(--color-white);
}

/* ------css for body-----*/
.content-area {
	color: var(--color-dark);
}

.content-area .main-content-area .content-discription {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 50px;
	padding-top: 30px;
	text-transform: capitalize;
	text-align: center;
	flex-grow: 1;
	font-family: 'Manrope', sans-serif;
	size: 16px;
	font-weight: 500;
}
/* .content-area .main-content-area .content-discription-img{
	display: flex;
	
} */
.content-area-nav .content-navbar{
	background-color: var(--color-dark);
}
.content-area-nav .content-navbar .content-form-group{
	display: flex;
	flex-direction: row;
	list-style: none;
} 
/* .content-area-services{
	display: flex;
}
.content-area-services .area-service {
	display: flex;
	flex-direction: row;
	align-items: center;
	 justify-items: center; 
	
 } 
.content-area-services .area-service .Service-description{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	
} */
/* content-area-logo{
	display: flex;
} */
/* .content-area-logo .main-logo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
} */
.main{
	display: flex;
}
.content-area-logo{
	padding-top: 30px;
	margin-left: 30px;
	flex-wrap: wrap;
}
.content-area-about{
	display: flex;
	margin-left: 10px;
	margin-top: 20px;
	flex-direction: column;
	
}
.content-area-about .about-discription{
	
	margin-top: 180px;
	text-align-last: right;
	text-transform: capitalize;
}
.content-area-about .about-discription h2{
	
	text-decoration: underline solid red 2px;
}
.main-about .img-set-2{
	margin-right: 10px;
}
.content-area-about .about-img{
	transform: scale(0.45);
	display: flex;
	/* align-items: center; */
	margin-left: 0px;
	margin-top: 10px;
}
.content-area-logo .main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.about-img{
	position: relative;
}
.img-set-2{
	position: absolute;
	
}
.img-set-3{
	position: absolute;
	top:30px;
	left: 100px;
}
/* .content-area-rides{
	margin-top: 250px;
	display: flex;
	flex-wrap: wrap;
	
} */
/* .content-area-rides .main-card {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
} */
.content-area-rides{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}
.rides-row{
	margin-top: 20px;
}
.overlay-text{
	margin-top: -60%;
	text-transform: capitalize;
	text-align: center;
	color: white;
	font-family: 'Manrope', sans-serif;
	size: 16px;
	font-weight: 500;
	
}
 .content-area-rides .card{
	margin-top: 40px;
	height: 235px;
}
.Testimonials h2{
	font-family: 'Manrope', sans-serif;
	size: 16px;
	font-weight: 500;
	text-decoration: underline solid red;
	float: right;
	
	
}
.Testimonials img{
	display: flex;
	align-items: start;
	flex-wrap: wrap;
	transform: scale(0.7);
	margin-right:10px;
	/* margin-top: 30px; */
	/* display: none; */
}
.client .client-discription{
	display: flex;
	margin-left: 100px;
}
.client .client-discription img{
	flex-wrap: wrap;
	transform: scale(0.4);
	/* display: none; */
	/* margin-right: 110px; */
	
}
/* ------css for footer-----*/
.footer {
	background-color: var(--color-dark);
	color: var(--color-white);
}


@media all and (min-width:1200px) {
	.content-area {
		display: flex;
	}
	.content-area-nav .form-control{
		width: 100px;
		margin-left:40px ;
	}
	.content-area-logo .main{
		display: flex;
		flex-direction: row;
		padding-top: 30px;
		margin-left: 30px;
		/* flex-wrap: wrap; */
	}
	.content-area-about .area-about-img{
		display: flex;
		flex-direction: row;
	}
	.content-area-about .about-img{
		transform: scale(1);
		display: flex;
		/* align-items: center; */
		margin-left: 0px;
		margin-top: 10px;
	}
	.content-area-about .about-discription{
		margin-top: 10px;
		width: 300px;
		text-align-last: right;
	text-transform: capitalize;
	margin-left: 700px;
	}
	.about-img{
		position: relative;
	}
	.img-set-2{
		position: absolute;
		
	}
	.img-set-3{
		position: absolute;
		top:30px;
		left: 100px;
	}
	.content-area-rides{
		margin-top: 50px;
	}
	.content-area-rides .rides-row  {
	    
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.overlay-text{
		margin-top: -60%;
		text-transform: capitalize;
		text-align: center;
		color: white;
		font-family: 'Manrope', sans-serif;
		size: 16px;
		font-weight: 500;
		
	}
	.card{
		margin: 10px;
		width: 275px;
		height: 235px;
	}
	.Testimonials h2{
		font-family: 'Manrope', sans-serif;
		size: 16px;
		font-weight: 500;
		text-decoration: underline solid red;
		float: right;
	}
	.Testimonials img{
		transform: scale(1);
	}
	.Testimonials{
		margin-top: 70px;
		object-fit: cover;
		/* overflow: hidden; */
		position: relative;
	}
	.ride-heading{
		font-family: 'Manrope', sans-serif;
		text-transform: capitalize;
	}
	
	.img-set-5{
		position: absolute;
		bottom: 150px;
		left: 30px;
	}
	.test-para{
		position: absolute;
		bottom: 150px;
		left: 300px;
		bottom: 45px;
		width: 425px;
		background: linear-gradient(to top, #A6011399 0%, red 100%);
		opacity: 100%;
		padding: 50px;
	}
	.europe{
		position: absolute;
		left: 400px;
		top: 30px;
		font-size: 110px;
		font-family: 'PT Serif', serif;
		color: #C4C4C4;
	}
	.client h2{
		font-family: 'Manrope', sans-serif;
		size: 16px;
		font-weight: 500;
		text-decoration: underline solid red;
		text-transform: capitalize;
	}
	.client{
		object-fit: cover;
		overflow: hidden;
	}
	.client img{
		transform: scale(1);
	}
	.footer{
		background-color: black;
	}
	.raj-img{
		filter: invert(50%);
		margin-top: 70px;
		width: 200px;
		
	}
	.raj-footer p{
		color: white;
	}
	.raj-para{
		text-transform: capitalize;
		text-align: center;
		color: white;
		font-family: 'Manrope', sans-serif;
		size: 10px;
		margin-left: 2px;
	}
	.nav-footer {
		margin-left: 70px;
	}
	.list{
		display: flex;
		justify-content: center;
	}
	.list li{
		color: white;
	}
	.Copyright{
		vertical-align: bottom;
	}
	.list-logo li{
		display: inline;
		float: right;
		margin-left: 10px;
		cursor: pointer;
	}
}
@media all and (min-width:900px) {
	.content-area {
		display: flex;
	}
	.content-area-nav .form-control{
		width: 100px;
		margin-left:40px ;
	}
	.content-area-logo .main{
		display: flex;
		flex-direction: row;
		padding-top: 30px;
		margin-left: 30px;
		/* flex-wrap: wrap; */
	}
	.content-area-about .area-about-img{
		display: flex;
		flex-direction: row;
	}
	.content-area-about .about-img{
		transform: scale(1);
		display: flex;
		/* align-items: center; */
		margin-left: 0px;
		margin-top: 10px;
	}
	.content-area-about .about-discription{
		margin-top: 10px;
		width: 300px;
		text-align-last: right;
	text-transform: capitalize;
	margin-left: 700px;
	}
	.about-img{
		position: relative;
	}
	.img-set-2{
		position: absolute;
		
	}
	.img-set-3{
		position: absolute;
		top:30px;
		left: 100px;
	}
	.content-area-rides{
		margin-top: 50px;
	}
	.content-area-rides .rides-row  {
	    
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.overlay-text{
		margin-top: -60%;
		text-transform: capitalize;
		text-align: center;
		color: white;
		font-family: 'Manrope', sans-serif;
		size: 16px;
		font-weight: 500;
		
	}
	.card{
		margin: 10px;
		width: 275px;
		height: 235px;
	}
	.Testimonials h2{
		font-family: 'Manrope', sans-serif;
		size: 16px;
		font-weight: 500;
		text-decoration: underline solid red;
		float: right;
	}
	.Testimonials img{
		transform: scale(1);
	}
	.Testimonials{
		margin-top: 70px;
		object-fit: cover;
		/* overflow: hidden; */
		position: relative;
	}
	.ride-heading{
		font-family: 'Manrope', sans-serif;
		text-transform: capitalize;
	}
	
	.img-set-5{
		position: absolute;
		bottom: 150px;
		left: 30px;
	}
	.test-para{
		position: absolute;
		bottom: 150px;
		left: 300px;
		bottom: 45px;
		width: 425px;
		background: linear-gradient(to top, #A6011399 0%, red 100%);
		opacity: 100%;
		padding: 50px;
	}
	.europe{
		position: absolute;
		left: 400px;
		top: 30px;
		font-size: 110px;
		font-family: 'PT Serif', serif;
		color: #C4C4C4;
	}
	.client h2{
		font-family: 'Manrope', sans-serif;
		size: 16px;
		font-weight: 500;
		text-decoration: underline solid red;
		text-transform: capitalize;
	}
	.client{
		object-fit: cover;
		overflow: hidden;
		display: flex;
	}
	.client .client-discription img{
		transform: scale(1);
	}
	.client img{
		transform: scale(1);
		display: flex;
	}
	.footer{
		background-color: black;
	}
	.raj-img{
		filter: invert(50%);
		margin-top: 70px;
		width: 200px;
		
	}
	.raj-footer p{
		color: white;
	}
	.raj-para{
		text-transform: capitalize;
		text-align: center;
		color: white;
		font-family: 'Manrope', sans-serif;
		size: 10px;
		margin-left: 2px;
	}
	.nav-footer {
		margin-left: 70px;
	}
	.list{
		display: flex;
		justify-content: center;
	}
	.list li{
		color: white;
	}
	.Copyright{
		vertical-align: bottom;
	}
	.list-logo li{
		display: inline;
		float: right;
		margin-left: 10px;
		cursor: pointer;
	}
}
